/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*.water-2-h-h6, .gouache-2-h-h6, .pastel-2-h-h6, .graphic-2-h-h6, .engrave-2-h-h6, .sculp-2-2-h-h6 {
    color: #000;
    padding-top: 1rem;
    margin-bottom: 0;
    font-family: var(--font-default);
}*/
.water-2-h-h6:nth-child(2) {
    padding-top: .4rem;
    font-size: .75rem;
    font-weight: 400;
    color: #000;
    /*color: rgba(121, 121, 121, 1);*/
}
.water-2-h-h6:nth-child(3) {
    padding-top: 0;
    font-size: .75rem;
    font-weight: 400;
    color: #000;
    /*color: rgba(121, 121, 121, 1);*/
}

/*@media(min-width: 1280px){
    .dropdown.projects ul li a{
        opacity: .5;
    }
    .dropdown.projects ul li:nth-child(8) a{
        opacity: 1;
        
    }
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a {
        color: #000000;
        opacity: 1;
    }
}
@media(max-width: 1279px){
    .dropdown.projects ul li a{
        opacity: .5;
    }
    .dropdown.projects ul li:nth-child(8) a{
        opacity: 1;
    }
    .navbar .dropdown.projects ul a:hover, .navbar .dropdown.projects ul .active:hover, .navbar .dropdown.projects ul li:hover>a {
        color: var(--color-default);
        opacity: .5;
    }
    .navbar .dropdown.projects ul li:nth-child(8) a:hover{
        color: var(--color-default);
        opacity: 1;
    }
}*/