html, body{
    padding-top: 56px;
    min-height: 100vh;
    overflow-x: clip;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.for_border{
    position: fixed;
    border-bottom: 1px solid #d9d9d9;
    padding: 41.5px 0;
}
.fixed-top{
    padding: 15px 15px;
    background-color: #fff;
}
.burger{
    -webkit-box-align: end!important;
        -ms-flex-align: end!important;
            align-items: flex-end!important;
}
.logo-white{
    width: 100%;
    pointer-events: all;
}
.logo-1{
    font-family: inherit;
    font-size: 30px;
    color: #fff!important;
}
.logo-black{
    width: 100%;
    z-index: 1111;
    pointer-events: all;
}
.landing-page{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.all{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
}
section img{
    height: 100%;
}
#baguetteBox-overlay{
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(245, 245, 245, 1)!important;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: auto;
}
.baguetteBox-button{
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0)!important;
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}
#baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.home-gallery, .inter_head{
    padding: 0;
}
.home-gallery img{
    width: 100%;
}
.home_container, .bio_container{
    display: flex;
    justify-content: center;
}
.home_container_row, .bio_container_row{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1050px;
    column-gap: 122px;
    margin: 9rem 3.25rem 0rem 3.25rem;
}
.home_container_col h6{
    font-weight: 400;
}
.home_container_col h5{
    font-size: 1.5rem;
}
.big-picture{
    margin-top: 7rem;
    margin-bottom: 1.2rem;
}
.video-wrapper{
    margin-top: 7rem;
    padding: 0;
}
.video-wrapper .container .row div:nth-child(3){
    margin-top: 3rem;
}
.video-wrapper .video iframe{
    width: 100%;
    height: 287px;
}
.video_text{
    margin-top: 1rem;
}
footer section{
    margin-top: 12rem;
    padding: 0;
    background-color: #e6e7e8;
}
footer .container{
    padding: 4rem 3rem;
}
footer .container .row div:nth-child(2){
    display: flex;
    justify-content: end;
}
footer a{
    color: #212529;
    text-decoration: none;
}
footer ul li:nth-child(3){
    margin-top: 4rem;
}
.footer{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 0.75rem;
    text-align: center;
}
.fa-brands{
    font-family: 'Font Awesome 6 Brands';
    font-size: 2rem;
    color: #666766;
    font-weight: 400;
}
.fa-facebook{
    margin-left: 1rem;
}
.concept_title{
    margin-top: 2rem;
    font-size: 1.1rem;
    font-style: italic;
}
.under_title{
    margin-top: 2rem;
    font-size: 1.1rem;
}
.our_head .row div{
    margin-top: 1rem;
}
.our_head .row div:nth-child(1){
    margin-top: .75rem;
}
.our_head .row div:nth-child(8), .our_head .row div:nth-child(9), .our_head .row div:nth-child(10){
    margin-top: 1.5rem;
}
.our_head .row div:nth-child(14), .our_head .row div:nth-child(15){
    margin-top: 3rem;
}
.connections_head .row div:nth-child(3) img, .connections_head .row div:nth-child(4) img, .connections_head .row div:nth-child(10) img, .free_city_head .row div:nth-child(2) img, .free_city_head .row div:nth-child(5) img, .free_city_head .row div:nth-child(6) img{
    object-fit: cover;
}
.concept_signature{
    font-size: 1.1rem;
    text-align: right;
    font-style: italic;
}
.concept{
    font-weight: 500;
    font-style: italic;
}
.title{
    margin-top: 9rem;
    font-size: 2.1875rem;
    text-align: center;
}
.title_graphic{
    margin-top: 7rem;
    font-size: 2.1875rem;
    text-align: center;
}
.gallery{
    padding-top: 7rem;
}
.gall-1{
    margin-top: 0;
}
.image{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.brd .image::after{
    position: absolute;
    content: "";
    left: 0px;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.2);*/
}
.picaso, .kaci, .fanqari-12, .akvareli-7, .fanqari-11, .skulptura-02, .fanqari-13, .guaSi-2, .graviura-1, .sketch-9, .sketch-14, .sketch-9, .skulptura-01, .graviura-11, .fanqari-2, .akvareli-3, .akvareli-18, .guaSi-4, .akvareli-21, .ink-1, .skulptura-05, .sketch-27, .pen-3, .graviura-10, .pen-6, .guaSi-1, .akvareli-10, .ink, .graviura-12, .pen-7, .guache-1, .graviura-16, .color-pencil-4, .akvareli-16, .skulptura-04, .ink-2, .pastel-9, .sketch-1, .guaSi-3, .pen-13, .guache-2, .skulptura-03, .sketch-37, .fanqari-9, .akvareli-38, .graviura-18, .guache-3, .akvareli-5, .pen-18, .guache-11, .sketch-16, .guaSi-5, .akvareli-26, .skulptura-06, .pen-10, .akvareli-39, .graviura-19, .guache-12, .sketch-19, .pen-2, .pastel-2, .akvareli-44, .pen-35, .guashi-13, .akvareli-6, .akvareli-20, .akvareli-14, .akvareli-45, .pen-23, .akvareli-67, .graviura-20, .pen-17, .guache-9, .sketch-24, .guache-6, .pen-32, .akvareli-66, .sketch-3, .pen-26, .akvareli-25, .sketch-8, .guache-4, .pen-22, .akvareli-40, .pen-31, .sketch-4, .akvareli-65, .akvareli-37, .sketch-22, .akvareli-63, .sketch-20, .akvareli-60, .akvareli-61, .graviura-15, .sketch-11, .akvareli-64, .graviura-6, .akvareli-11, .sketch-6, .fanqari-3, .akvareli-46, .guache-10, .pen-5, .akvareli-70, .akvareli-59, .guache-5, .pen-33, .akvareli-42, .akvareli-41, .akvareli-24, .pen-12, .akvareli-28{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.watercolor-2, .guashi-2, .pas-2, .graph-2, .engr-2, .sculp-2{
    width: 100%;
}
.watercol-gallery, .gouach-gallery, .pastl-gallery, .graphi-gallery, .engrav-gallery, .sculpt-gallery{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 48px;
}
.water-2-b, .gouache-2-b, .pasteli-2-b, .graphica-2-b, .engravi-2-b, .sculptura-2-b{
    margin-bottom: 30px;
}
.watercolor, .gouache, .pastel, .graphic, .engraving, .sculpture{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
}
.water-link, .gouache-link, .pastel-link, .graphic-link, .engrave-link, .sculpture-link{
    text-decoration: none;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.water-2-h-h6, .gouache-2-h-h6, .pastel-2-h-h6, .graphic-2-h-h6, .engrave-2-h-h6, .sculp-2-2-h-h6{
    color: #000;
    padding-top: 0.3125rem;
    margin-bottom: 0;
    font-family: var(--font-default);
}
.water-2-h-h6:nth-child(2){
    padding-top: 0;
    color: rgba(121, 121, 121, 1);
}
.work-gallery{
    padding: 0;
}
.work-gallery a{
    text-decoration: none;
}
.inter_head h2, .our_head h2, .connections_head h2, .free_city_head h2{
    margin-bottom: 3rem;
}
.sub_title{
    font-weight: 700;
}
.article_title{
    margin-top: 3rem;
    font-weight: 700;
}
.inter_head .col-12 div p.under_img{
    margin-top: 2rem;
    font-weight: 400;
}
.inter_head .video{
    margin-top: 5rem;
}
.inter_head .video iframe{
    width: 100%;
    height: 484px;
}
.inter_head img{
    width: 100%;
    margin-top: 1rem;
}
.under_img span{
    line-height: 4;
}
.our_head img, .connections_head img, .free_city_head img{
    width: 100%;
}
.our_head .row div:nth-child(3) img, .our_head .row div:nth-child(12) img{
    object-fit: cover;
}
.our_head .row div:nth-child(10) img{
    height: 237px;
    object-fit: cover;
}
@media(max-width: 575px){
    .inter_head .container{
        padding: 5rem 1.3rem 0 1.3rem;
    }
}
@media(min-width: 576px){
    .inter_head .container{
        padding: 5rem 1.3rem 0 1.3rem;
    }
    .our_head .row div:nth-child(10) img {
        height: 100%;
    }
}
@media(min-width: 768px){
    .gall{
        --bs-gutter-y: 6rem;
    }
    .inter_head .container{
        max-width: 620px;
        padding: 5rem 3.3rem 0 3.3rem;
    }
    .our_head .row div:nth-child(10) img {
        height: 162px;
        object-fit: cover;
    }
}
.akva-28{
    margin-bottom: 6rem;
}
@media(min-width: 992px){
    .grav-1 .image, .sket-9 .image, .skulp-01 .image, .grav-11 .image, .akva-3 .image, .akva-18 .image, .guach-4 .image, .akva-21 .image, .inki-1 .image, .skulp-05 .image, .sket-27 .image, .grav-10 .image, .guaS-1 .image, .akva-10 .image, .inki .image, .grav-12 .image, .guach-1 .image, .grav-16 .image, .akva-16 .image, .skulp-04 .image, .inki-2 .image, .past-9 .image, .sket-1 .image, .guach-3 .image, .guash-2 .image, .skulp-03 .image, .akva-38 .image, .grav-18 .image, .guash-3 .image, .akva-5 .image, .guash-11 .image, .guashi-5 .image, .akva-26 .image, .skulp-06 .image, .akva-39 .image, .grav-19 .image, .guash-12 .image, .past-2 .image, .akva-44 .image, .sket-14 .image, .pic-aso .image, .fanq-12 .image, .akva-6 .image, .ka-ci .image, .akva-7 .image, .akv-14 .image, .peni-3 .image, .peni-6 .image, .peni-7 .image, .color-penc-4 .image, .peni-13 .image, .sket-37 .image, .fanq-9 .image, .peni-18 .image, .sket-16 .image, .peni-10 .image, .sket-19 .image, .peni-2 .image, .peni-35 .image, .fanq-11 .image, .guach-2 .image, .akva-20 .image, .skulp-02 .image, .guache-13 .image, .fanq-13 .image, .fanq-2 .image, .akva-45 .image, .peni-23 .image, .akva-67 .image, .grav-20 .image, .peni-17 .image, .guash-9 .image, .sket-24 .image, .guash-6 .image, .peni-32 .image, .akva-66 .image, .sket-3 .image, .peni-26 .image, .akva-25 .image, .sket-8 .image, .guash-4 .image, .peni-22 .image, .akva-40 .image, .peni-31 .image, .sket-4 .image, .akva-65 .image, .akva-37 .image, .sket-22 .image, .akva-63 .image, .sket-20 .image, .akva-60 .image, .akva-61 .image, .grav-15 .image, .sket-11 .image, .akva-64 .image, .grav-6 .image, .akva-11 .image, .sket-6 .image, .fanq-3 .image, .akva-46 .image, .guash-10 .image, .peni-5 .image, .akva-70 .image, .akva-59 .image, .guash-5 .image, .peni-33 .image, .akva-42 .image, .akva-41 .image, .akva-24 .image, .peni-12 .image, .akva-28 .image{
        width: 100%;
        height: 205px;
    }
    .inter_head .container{
        max-width: 780px;
        padding: 5rem 3.3rem 0 3.3rem;
    }
    .video-wrapper .container{
        max-width: 1050px;
        --bs-gutter-x: 0;
    }
    .our_head .container, .connections_head .container, .free_city_head .container{
        max-width: 800px;
    }
    .our_head .row div:nth-child(10) img {
        height: 182px;
        object-fit: cover;
    }
}
@media(min-width: 1200px){
    .pic-aso .image, .guach-2 .image, .grav-1 .image, .sket-9 .image, .skulp-01 .image, .grav-11 .image, .akva-3 .image, .akva-18 .image, .guach-4 .image, .akva-21 .image, .inki-1 .image, .skulp-05 .image, .sket-27 .image, .grav-10 .image, .guaS-1 .image, .akva-10 .image, .inki .image, .grav-12 .image, .guach-1 .image, .grav-16 .image, .akva-16 .image, .skulp-04 .image, .inki-2 .image, .past-9 .image, .sket-1 .image, .guach-3 .image, .guash-2 .image, .skulp-03 .image, .akva-38 .image, .grav-18 .image, .guash-3 .image, .akva-5 .image, .guash-11 .image, .guashi-5 .image, .akva-26 .image, .skulp-06 .image, .akva-39 .image, .grav-19 .image, .guash-12 .image, .past-2 .image, .akva-44 .image, .guache-13 .image, .sket-14 .image, .fanq-12 .image, .akva-6 .image, .ka-ci .image, .akva-7 .image, .akv-14 .image, .akva-20 .image, .fanq-11 .image, .skulp-02 .image, .fanq-13 .image, .fanq-2 .image, .peni-3 .image, .peni-6 .image, .peni-7 .image, .color-penc-4 .image, .peni-13 .image, .sket-37 .image, .fanq-9 .image, .peni-18 .image, .sket-16 .image, .peni-10 .image, .sket-19 .image, .peni-2 .image, .peni-35 .image, .akva-45 .image, .peni-23 .image, .akva-67 .image, .grav-20 .image, .peni-17 .image, .guash-9 .image, .sket-24 .image, .guash-6 .image, .peni-32 .image, .akva-66 .image, .sket-3 .image, .peni-26 .image, .akva-25 .image, .sket-8 .image, .guash-4 .image, .peni-22 .image, .akva-40 .image, .peni-31 .image, .sket-4 .image, .akva-65 .image, .akva-37 .image, .sket-22 .image, .akva-63 .image, .sket-20 .image, .akva-60 .image, .akva-61 .image, .grav-15 .image, .sket-11 .image, .akva-64 .image, .grav-6 .image, .akva-11 .image, .sket-6 .image, .fanq-3 .image, .akva-46 .image, .guash-10 .image, .peni-5 .image, .akva-70 .image, .akva-59 .image, .guash-5 .image, .peni-33 .image, .akva-42 .image, .akva-41 .image, .akva-24 .image, .peni-12 .image, .akva-28 .image{
        width: 100%;
        height: 248px;
    }
    .inter_head .container{
        max-width: 780px;
        padding: 5rem 3.3rem 0 3.3rem;
    }
    .video-wrapper .container{
        max-width: 1050px;
        --bs-gutter-x: 0;
    }
    .our_head .container, .connections_head .container, .free_city_head .container{
        max-width: 1020px;
    }
    .our_head .row div:nth-child(10) img {
        height: 237px;
        object-fit: cover;
    }
}
@media(min-width: 1280px){
    .navbar a i, .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        display: none;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
        color: #000;
    }



    /*.mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9996;
        transition: 1s;
    }*/

    /*my dropdown*/
    .navbar .dropdown ul span{
        position: absolute;
        width: 81px;
        height: 20px;
        top: -20px;
        background: transparent;
    }
    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 57px;
        visibility: visible;
    }
    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 15px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }
    /*end of my dropdown*/

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }
    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -6px;
        left: 0;
        /*background-color: var(--color-primary);*/
        background-color: #000;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a{
        color: #000000;
    }
}
@media(min-width: 1400px){
    .pic-aso .image, .akv-14 .image, .ka-ci .image, .guach-2 .image, .guach-2 .image, .grav-1 .image, .sket-9 .image, .skulp-01 .image, .grav-11 .image, .akva-3 .image, .akva-18 .image, .guach-4 .image, .akva-21 .image, .inki-1 .image, .skulp-05 .image, .sket-27 .image, .grav-10 .image, .guaS-1 .image, .akva-10 .image, .inki .image, .grav-12 .image, .guach-1 .image, .grav-16 .image, .akva-16 .image, .skulp-04 .image, .inki-2 .image, .past-9 .image, .sket-1 .image, .guach-3 .image, .guash-2 .image, .skulp-03 .image, .akva-38 .image, .grav-18 .image, .guash-3 .image, .akva-5 .image, .guash-11 .image, .guashi-5 .image, .akva-26 .image, .skulp-06 .image, .akva-39 .image, .grav-19 .image, .guash-12 .image, .past-2 .image, .akva-44 .image, .guache-13 .image, .sket-14 .image, .fanq-12 .image, .akva-6 .image, .akva-7 .image, .akva-20 .image, .fanq-11 .image, .skulp-02 .image, .fanq-13 .image, .fanq-2 .image, .peni-3 .image, .peni-6 .image, .peni-7 .image, .color-penc-4 .image, .peni-13 .image, .sket-37 .image, .fanq-9 .image, .peni-18 .image, .sket-16 .image, .peni-10 .image, .sket-19 .image, .peni-2 .image, .peni-35 .image, .akva-45 .image, .peni-23 .image, .akva-67 .image, .grav-20 .image, .peni-17 .image, .guash-9 .image, .sket-24 .image, .guash-6 .image, .peni-32 .image, .akva-66 .image, .sket-3 .image, .peni-26 .image, .akva-25 .image, .sket-8 .image, .guash-4 .image, .peni-22 .image, .akva-40 .image, .peni-31 .image, .sket-4 .image, .akva-65 .image, .akva-37 .image, .sket-22 .image, .akva-63 .image, .sket-20 .image, .akva-60 .image, .akva-61 .image, .grav-15 .image, .sket-11 .image, .akva-64 .image, .grav-6 .image, .akva-11 .image, .sket-6 .image, .fanq-3 .image, .akva-46 .image, .guash-10 .image, .peni-5 .image, .akva-70 .image, .akva-59 .image, .guash-5 .image, .peni-33 .image, .akva-42 .image, .akva-41 .image, .akva-24 .image, .peni-12 .image, .akva-28 .image{
        width: 100%;
        height: 292px;
    }
    .inter_head .container{
        max-width: 780px;
        padding: 5rem 3.3rem 0 3.3rem;
    }
    .video-wrapper .container{
        max-width: 1050px;
        --bs-gutter-x: 0;
    }
    .our_head .container, .connections_head .container, .free_city_head .container{
        max-width: 1020px;
    }
    .our_head .row div:nth-child(10) img {
        height: 237px;
        object-fit: cover;
    }
}

@media(max-width: 1280px){
    #randimg .fade-in {
        height: 71vh;
        width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
    }
}
@media (max-width: 1279px){
    .navbar_overlay {
        visibility: hidden;
        position: fixed;
        inset: 0;
        transition: .3s;
    }
    .navbar_overlay.show {
        visibility: visible;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9996;
        transition: .3s;
    }
    .mobile-nav-show {
        position: relative;
        color: #000;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        padding-right: 10px;
    }
    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: rgb(255 255 255 / 100%);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
        color: #000;
    }
    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 500;
        color: rgb(0 0 0 / 70%);
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }
    .navbar .dropdown ul, .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        border: none; 
        /*border: 1px solid #222428; */
    }
    .mobile-nav-hide {
        color: #000;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }
}
@media(max-width: 1200px){
    #next-button, #close-button{
        margin-right: -10px;
    }
    #previous-button{
        margin-left: -10px;
    }
}
@media(max-width: 1199px){
    .video-wrapper .container {
        max-width: 1154px;
        --bs-gutter-x: 0;
        padding: 0 3.25rem 0 3.25rem;
    }
}
@media(max-width: 1152px){
    .home_container_row{
        max-width: 1050px;
        column-gap: 70px;
    }
}
@media(max-width: 991px){
    .nav-toggler-hover:hover #line {
        background-color: #000;
    }
    #next-button, #previous-button{
        display: none;
    }
    .work-gallery a{
        text-decoration: none;
    }
    .guach-2 .image, .grav-1 .image, .sket-9 .image, .skulp-01 .image, .grav-11 .image, .akva-3 .image, .akva-18 .image, .guach-4 .image, .akva-21 .image, .inki-1 .image, .skulp-05 .image, .sket-27 .image, .grav-10 .image, .guaS-1 .image, .akva-10 .image, .inki .image, .grav-12 .image, .guach-1 .image, .grav-16 .image, .akva-16 .image, .skulp-04 .image, .inki-2 .image, .past-9 .image, .sket-1 .image, .guach-3 .image, .guash-2 .image, .skulp-03 .image, .akva-38 .image, .grav-18 .image, .guash-3 .image, .akva-5 .image, .guash-11 .image, .guashi-5 .image, .akva-26 .image, .skulp-06 .image, .akva-39 .image, .grav-19 .image, .guash-12 .image, .past-2 .image, .akva-44 .image, .sket-14 .image, .fanq-2 .image, .peni-3 .image, .peni-6 .image, .peni-7 .image, .color-penc-4 .image, .peni-13 .image, .sket-37 .image, .fanq-9 .image, .peni-18 .image, .sket-16 .image, .peni-10 .image, .sket-19 .image, .peni-2 .image, .peni-35 .image, .pic-aso .image, .akv-14 .image, .ka-ci .image, .akva-6 .image, .fanq-12 .image, .akva-7 .image, .akva-20 .image, .fanq-11 .image, .skulp-02 .image, .guache-13 .image, .fanq-13 .image, .akva-45 .image, .peni-23 .image, .akva-67 .image, .grav-20 .image, .peni-17 .image, .guash-9 .image, .sket-24 .image, .guash-6 .image, .peni-32 .image, .akva-66 .image, .sket-3 .image, .peni-26 .image, .akva-25 .image, .sket-8 .image, .guash-4 .image, .peni-22 .image, .akva-40 .image, .peni-31 .image, .sket-4 .image, .akva-65 .image, .akva-37 .image, .sket-22 .image, .akva-63 .image, .sket-20 .image, .akva-60 .image, .akva-61 .image, .grav-15 .image, .sket-11 .image, .akva-64 .image, .grav-6 .image, .akva-11 .image, .sket-6 .image, .fanq-3 .image, .akva-46 .image, .guash-10 .image, .peni-5 .image, .akva-70 .image, .akva-59 .image, .guash-5 .image, .peni-33 .image, .akva-42 .image, .akva-41 .image, .akva-24 .image, .peni-12 .image, .akva-28 .image{
        width: 100%;
        height: 236px;
    }
    footer .container .row div:nth-child(2) {
        justify-content: left;
    }
    footer .container .row{
        --bs-gutter-y: 4rem;
    }
    .video-wrapper .video iframe {
        width: 100%;
        height: 245px;
    }
}
@media(max-width: 767px){
    .gall{
        --bs-gutter-y: 3rem;
    }
    .pic-aso .image, .guach-2 .image, .grav-1 .image, .sket-9 .image, .sket-14 .image, .skulp-01 .image, .grav-11 .image, .skulp-02 .image, .akva-3 .image, .akva-18 .image, .guach-4 .image, .akva-21 .image, .inki-1 .image, .skulp-05 .image, .sket-27 .image, .peni-3 .image, .grav-10 .image, .guaS-1 .image, .akva-10 .image, .inki .image, .grav-12 .image, .peni-7 .image, .guach-1 .image, .grav-16 .image, .color-penc-4 .image, .akva-16 .image, .skulp-04 .image, .inki-2 .image, .past-9 .image, .sket-1 .image, .guach-3 .image, .peni-13 .image, .guash-2 .image, .skulp-03 .image, .sket-37 .image, .fanq-9 .image, .akva-38 .image, .grav-18 .image, .guash-3 .image, .akva-5 .image, .peni-18 .image, .guash-11 .image, .sket-16 .image, .guashi-5 .image, .akva-26 .image, .skulp-06 .image, .peni-10 .image, .akva-39 .image, .grav-19 .image, .guash-12 .image, .sket-19 .image, .peni-2 .image, .past-2 .image, .akva-44 .image, .peni-35 .image, .akva-6 .image, .fanq-12 .image, .fanq-11 .image, .fanq-13 .image, .fanq-2 .image, .peni-6 .image, .akva-45 .image, .peni-23 .image, .akva-67 .image, .grav-20 .image, .peni-17 .image, .guash-9 .image, .sket-24 .image, .guash-6 .image, .peni-32 .image, .akva-66 .image, .sket-3 .image, .peni-26 .image, .akva-25 .image, .sket-8 .image, .guash-4 .image, .peni-22 .image, .akva-40 .image, .peni-31 .image, .sket-4 .image, .akva-65 .image, .akva-37 .image, .sket-22 .image, .akva-63 .image, .sket-20 .image, .akva-60 .image, .akva-61 .image, .grav-15 .image, .sket-11 .image, .akva-64 .image, .grav-6 .image, .akva-11 .image, .sket-6 .image, .fanq-3 .image, .akva-46 .image, .guash-10 .image, .peni-5 .image, .akva-70 .image, .akva-59 .image, .guash-5 .image, .peni-33 .image, .akva-42 .image, .akva-41 .image, .akva-24 .image, .peni-12 .image, .akva-28 .image, .akv-14 .image, .ka-ci .image, .akva-7 .image, .akva-20 .image, .guache-13 .image{
        width: 100%;
        height: 100%;
    }
    .akva-28{
        margin-bottom: 3rem;
    }
    .home_container_row{
        display: flex;
        flex-direction: column;
    }
    .home_container_row .home_container_col:nth-child(2){
        width: 100%;
        margin-top: 3rem;
        text-align: center;
    }
    .video-wrapper .video iframe {
        width: 100%;
        height: 47vw;
    }
    footer .container{
        max-width: 720px;
    }
}
@media(max-width: 480px){
    .fullscreen-content ul li a {
        display: block;
        /* font-family: "BodoniStd"; */
        font-size: 25px;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        line-height: 2;
    }
    .fullscreen-content.open ul {
        position: absolute;
        top: 31.3%;
    }
}
@media(max-width: 428px){
    .logo-black {
        width: 65vw;
    }
    #wrapper {
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
    }
    .gy-4{
       --bs-gutter-y: 1rem;
    }
}
@media(max-width: 375px){
    #wrapper{
        -webkit-transform: translateY(3px);
            -ms-transform: translateY(3px);
                transform: translateY(3px);
    }
}
@media(max-width: 372px){
    #wrapper{
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
    }
}
@media(max-width: 360px){
    .logo-black {
        width: 63vw;
    }
    #wrapper {
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
    }
}
@media(max-width:340px){
    .logo-black{
        width: 61vw;
    }
}
@media(max-width: 328px){
    #wrapper{
        width: 16vw;
    }
}
.row-marg-bott{
    margin-bottom: 1.5rem;
}




